* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

html,
body,
#root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased !important;
    background: rgba(204, 204, 204, 0.048);
}
