.flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.column {
    flex-direction: column;
}
.content-start {
    justify-content: flex-start;
}
.content-center {
    justify-content: center;
}
.content-end {
    justify-content: flex-end;
}
.space-around {
    justify-content: space-around;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.text-left {  
    text-align: left;
}
.text-center {  
    text-align: center;
}
.text-right {  
    text-align: right;
}
.block {
    width: 100%;
}
.pl-4 {
    padding-left: 15px;
}
.pt-4 {
    padding-top: 15px;
}

