.card {
    margin: 7px;
    background: white;
    flex-basis: 100%;
    border: 1px solid rgba(204, 204, 204, 0.555);
    -webkit-box-shadow: 3px 3px 10px 3px rgba(204, 204, 204, 0.685);
    -moz-box-shadow: 3px 3px 10px 3px rgba(204, 204, 204, 0.685);
    box-shadow: 3px 3px 10px 3px rgba(204, 204, 204, 0.685);
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}
.card__header,
.card__content {
    padding: 10px;
}
.card__header {
    border-bottom: 1px solid rgba(204, 204, 204, 0.568);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card__footer {
    border-top: 1px solid rgba(204, 204, 204, 0.568);
    padding: 20px 10px;
}

@media (min-width: 555px) {
    .card__header {
        flex-direction: row;
        font-size: 20px;
    }
    .card:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 5px 14px 4px rgba(204,204,204,1);
        -moz-box-shadow: 0px 5px 14px 4px rgba(204,204,204,1);
        box-shadow: 0px 5px 14px 4px rgba(204,204,204,1);
    }
}